<link rel="stylesheet" href="/style.css" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<div style="background-color: #fff2d7; min-height: 100vh; color: darkred">
  <br /><br />
  <h2 style="border-bottom: dotted brown 2px; text-align: center">
    Application Form
    <br />
    <br />
  </h2>

  <br />

  <div class="input-fields">
    <div
      style="
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      "
    >
      <div style="display: flex; justify-content: center; width: 100%">
        <div>
          <div class="form-group" style="margin: 1rem">
            <label for="Enrollment">Company Name</label>

            <input
              type="text"
              class="form-control"
              id="Enrollment"
              readonly
              value="<%=companyname%>"
              placeholder="Enrollment No."
            />
          </div>
          <div class="form-group" style="margin: 1rem">
            <label for="Enrollment">Job Title</label>

            <input
              type="text"
              class="form-control"
              id="Enrollment"
              readonly
              value="<%=jobtitle%>"
              placeholder="Enrollment No."
            />
          </div>
        </div>
        <div>
          <div class="form-group" style="margin: 1rem">
            <label for="Enrollment">Enrollment No.</label>

            <input
              type="text"
              class="form-control"
              id="Enrollment"
              readonly
              value="<%=stuDetails.enrollmentNo%>"
              placeholder="Enrollment No."
            />
          </div>

          <div class="form-group" style="margin: 1rem">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="username"
              readonly
              value="<%=stuDetails.username%>"
            />
          </div>
        </div>
      </div>

      <br />
      <br />
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #153448;
          color: white;
          width: 70%;

          border-radius: 2rem;
        "
      >
        <form
          action="/account/apply"
          method="post"
          enctype="multipart/form-data"
        >
          <input
            name="listingId"
            readonly
            style="display: none"
            value="<%=listingId%>"
          />

          <input
            name="stuId"
            readonly
            style="display: none"
            value="<%=stuId%>"
          />
          <div
            class="form-group"
            style="
              margin: 0;
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-direction: column;
              height: 15rem;
            "
          >
            <label for="lastsemcgpa"><h3>Upload Your Resume</h3> </label>
            <input
              type="file"
              class="form-control"
              name="resumeLink"
              required
            />

            <button class="btn btn-primary" style="margin: 0">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <br />
  </div>
</div>

<script>
  // JavaScript for form validation
  (function () {
    "use strict";
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
