<%layout("/layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/style.css" />
<div class="regis-big-div">
  <div class="left-login">
    <br />
    <div class="pop-out">
      <a href="/"
        ><img
          loading="lazy"
          src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1710502741/emblem_e7gmxn.png"
          alt=""
          width="300"
      /></a>
    </div>
    <br />
  </div>

  <div class="down-regis">
    <div class="resources-student-big-div">
      <div class=" regis-content-div">
        <div class="content-title container">
          <br />
          <hr />
          <h2 style="text-align: center">Registration Details : Student</h2>
          <hr />

          <br />
          <br />
          <h2>Personal Details</h2>
          <br />

          <div class="input-fields">
            <div class="form-group">
              <label for="Enrollment">Enrollment No.</label>
              <input readonly
                type="text"
                class="form-control"
                id="Enrollment"
                readonly

                value="<%=stuDetails.enrollmentNo%>"
                placeholder="Enrollment No."
              />
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input readonly
                type="text"
                value="<%=stuDetails.username%>"
                class="form-control"
                id="username"
                placeholder="username"
                readonly

              />
            </div>
            <div class="form-group">
              <label for="firstname">Full Name</label>
              <input readonly
                type="text"
                class="form-control"
                id="firstname"
                placeholder="First Name"

                readonly
                value="<%=stuDetails.fullname%>"
              />
            </div>
            <div class="form-group">
              <label>Course</label>
              <input readonly
                type="text"
                class="form-control"

                readonly
                value="<%=stuDetails.course%>"
              />
            </div>

            <div class="form-group">
              <label for="fathername">Father's Name</label>
              <input readonly
                type="text"
                name="fathername"
                class="form-control"
                id="fathername"
                placeholder="Father's Name"
                required
                value="<%=stuDetails.fathername%>"
              />
            </div>
            <div class="form-group">
              <label for="mothername">Mother's Name</label>
              <input readonly
                type="text"
                class="form-control"
                id="mothername"
                placeholder="Mother's Name"
                required
                name="mothername"
                value="<%=stuDetails.mothername%>"
              />
            </div>

            <div class="card">
              <div class="card-body">
                <p class="regis-card-title">Gender</p>
                <div class="card-text">
                  <div class="form-check">
                    <input readonly
                      class="form-check-input"
                      type="radio"
                      <%=stuDetails.gender == "female"?"checked":""%>
                      name="gender"
                      value="female"
                      disabled
                      id="gender"
                      required
                    />
                    <label class="form-check-label" for="gender">
                      Female
                    </label>
                  </div>
                  <div class="form-check">
                    <input readonly
                      class="form-check-input"
                      type="radio"
                       <%=stuDetails.gender == "male"?"checked":""%>
                      value="male"
                      disabled
                      name="gender"
                      required
                      id="gender2"
                    />
                    <label class="form-check-label" for="gender2"> Male </label>
                  </div>
                  <div class="form-check">
                    <input readonly
                      class="form-check-input"
                      type="radio" <%=stuDetails.gender == "other"?"checked":""%>
                      value="other"
                      disabled
                      required
                      name="gender"
                      id="gender3"
                    />
                    <label class="form-check-label" for="gender3">
                      Other
                    </label>
                  </div>
                </div>
              </div>
            </div>
             <%
        const date = stuDetails.birthdate;
        const year = date.getFullYear();
        const month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based
        const day = String(date.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;
    %>
            <div class="form-group">
              <label for="birthdate">Birth Date (DD/MM/YYYY)</label>
              <input readonly
                type="date"
                class="form-control"
                id="birthdate"
                name="birthdate"
                required
                placeholder="DD/MM/YYYY"
                value="<%=formattedDate%>"
              />
            </div>
            <div class="form-group">
              <label for="mobno">Mobile Number</label>
              <input readonly
                type="tel"
                class="form-control"

                readonly
                id="mobno"
                name="mobileno"
                placeholder="Mobile Number"
                value="<%=stuDetails.mobileno%>"
              />
            </div>
            <div class="form-group">
              <label for="altmob">Alternate Mobile No</label>
              <input readonly
                type="tel"
                class="form-control"
                id="altmob"
                required
                placeholder="Alternate Mobile No"
                name="altmobileno"
                value="<%=stuDetails.altmobileno%>"
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input readonly
                type="email"
                class="form-control"
                id="email"
                readonly

                placeholder="Email"
                value="<%=stuDetails.email%>"
              />
            </div>
            <div class="form-group">
              <label for="altemail">Alternate Email </label>
              <input readonly
                type="email"
                class="form-control"
                id="altemail"
                placeholder="Alternate  Email "
                required
                name="altemail"
                value="<%=stuDetails.altemail%>"
              />
            </div>
            <div class="form-group">
              <label for="category">Category Name</label>
              <select
                type="text"
                required
                class="form-control"
                id="category"
                name="category"
                disabled
                placeholder="Category Name"
              >
                <option
<%=stuDetails.category == "ST"?"selected":""%>

                value="ST">ST</option>
                <option
<%=stuDetails.category == "SC"?"selected":""%>
                 value="SC">SC</option>
                <option
<%=stuDetails.category == "OBC"?"selected":""%>
                 value="OBC">OBC</option>
                <option
<%=stuDetails.category == "EWS"?"selected":""%>
                 value="EWS">EWS</option>
                <option
<%=stuDetails.category == "GENERAL"?"selected":""%>
                 value="GENERAL">GENERAL</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nationality">Nationality</label>
              <input readonly
                type="text"
                class="form-control"
                id="nationality"
                required
                name="nationality"
                placeholder="Nationality"
                value="<%=stuDetails.nationality%>"
              />
            </div>
          </div>
        </div>
      </div>
      <div class=" regis-content-div">
        <div class="content-title container">
          <hr style="margin: 0;"/>
          <br />
          <h2>Communication Details</h2>
          <br />
          <div class="comm-fields">
            <div class="input-fields">
              <div class="form-group">
                <label for="presentcountry">Present Country</label>
                <input readonly
                  type="text"
                  class="form-control"
                  required
                  id="presentcountry"
                  name="presentcountry"
                  placeholder="Present Country"
                  value="<%=stuDetails.presentcountry%>"
                />
              </div>
              <div class="form-group">
                <label for="presentstate">Present State</label>

                <select
                  type="text"
                  disabled
                  value=""
                  name="presentstate"
                  required
                  id="presentstate"
                  class="form-control"
                  placeholder="Present State"
                >
                  <option
<%=stuDetails.presentstate == "Andhra Pradesh"?"selected":""%>

                  value="Andhra Pradesh">Andhra Pradesh</option>
                  <option
<%=stuDetails.presentstate == "Andaman and Nicobar Islands"?"selected":""%>
                   value="Andaman and Nicobar Islands">
                    Andaman and Nicobar Islands
                  </option>
                  <option

<%=stuDetails.presentstate == "Arunachal Pradesh"?"selected":""%>

                   value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option
<%=stuDetails.presentstate == "Assam"?"selected":""%>


                   value="Assam">Assam</option>
                   <option
<%=stuDetails.presentstate == "Bihar"?"selected":""%>
                     value="Bihar">Bihar</option>
                  <option
<%=stuDetails.presentstate == "Chandigarh"?"selected":""%>
                    value="Chandigarh">Chandigarh</option>
                  <option
<%=stuDetails.presentstate == "Chhattisgarh"?"selected":""%>
                    value="Chhattisgarh">Chhattisgarh</option>
                  <option
<%=stuDetails.presentstate == "Dadar and Nagar Haveli"?"selected":""%>
                    value="Dadar and Nagar Haveli">
                    Dadar and Nagar Haveli
                  </option>
                  <option
<%=stuDetails.presentstate == "Daman and Diu"?"selected":""%>
                  value="Daman and Diu">Daman and Diu</option>
                  <option
<%=stuDetails.presentstate == "Delhi"?"selected":""%>
                  value="Delhi">Delhi</option>
                  <option
<%=stuDetails.presentstate == "Lakshadweep"?"selected":""%>
                  value="Lakshadweep">Lakshadweep</option>
                  <option
<%=stuDetails.presentstate == "Puducherry"?"selected":""%>
                  value="Puducherry">Puducherry</option>
                  <option
<%=stuDetails.presentstate == "Goa"?"selected":""%>
                  value="Goa">Goa</option>
                  <option
<%=stuDetails.presentstate == "Gujarat"?"selected":""%>
                   value="Gujarat">Gujarat</option>
                  <option
<%=stuDetails.presentstate == "Haryana"?"selected":""%>
                  value="Haryana">Haryana</option>
                  <option
<%=stuDetails.presentstate == "Himachal Pradesh"?"selected":""%>
                  value="Himachal Pradesh">Himachal Pradesh</option>
                  <option
<%=stuDetails.presentstate == "Jammu and Kashmir"?"selected":""%>
                  value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option
<%=stuDetails.presentstate == "Jharkhand"?"selected":""%>
                  value="Jharkhand">Jharkhand</option>
                  <option
<%=stuDetails.presentstate == "Karnataka"?"selected":""%>
                  value="Karnataka">Karnataka</option>
                  <option
<%=stuDetails.presentstate == "Kerala"?"selected":""%>
                  value="Kerala">Kerala</option>
                  <option
<%=stuDetails.presentstate == "Madhya Pradesh"?"selected":""%>
                  value="Madhya Pradesh">Madhya Pradesh</option>
                  <option
<%=stuDetails.presentstate == "Maharashtra"?"selected":""%>
                  value="Maharashtra">Maharashtra</option>
                  <option
<%=stuDetails.presentstate == "Manipur"?"selected":""%>
                  value="Manipur">Manipur</option>
                  <option
<%=stuDetails.presentstate == "Meghalaya"?"selected":""%>
                  value="Meghalaya">Meghalaya</option>
                  <option
<%=stuDetails.presentstate == "Mizoram"?"selected":""%>
                  value="Mizoram">Mizoram</option>
                  <option
<%=stuDetails.presentstate == "Nagaland"?"selected":""%>
                  value="Nagaland">Nagaland</option>
                  <option
<%=stuDetails.presentstate == "Odisha"?"selected":""%>
                  value="Odisha">Odisha</option>
                  <option
<%=stuDetails.presentstate == "Punjab"?"selected":""%>
                  value="Punjab">Punjab</option>
                  <option
<%=stuDetails.presentstate == "Rajasthan"?"selected":""%>
                  value="Rajasthan">Rajasthan</option>
                  <option
<%=stuDetails.presentstate == "Sikkim"?"selected":""%>
                  value="Sikkim">Sikkim</option>
                  <option
<%=stuDetails.presentstate == "Tamil Nadu"?"selected":""%>
                  value="Tamil Nadu">Tamil Nadu</option>
                  <option
<%=stuDetails.presentstate == "Telangana"?"selected":""%>
                  value="Telangana">Telangana</option>
                  <option
<%=stuDetails.presentstate == "Tripura"?"selected":""%>
                  value="Tripura">Tripura</option>
                  <option
<%=stuDetails.presentstate == "Uttar Pradesh"?"selected":""%>
                  value="Uttar Pradesh">Uttar Pradesh</option>
                  <option
<%=stuDetails.presentstate == "Uttarakhand"?"selected":""%>
                  value="Uttarakhand">Uttarakhand</option>
                  <option
<%=stuDetails.presentstate == "West Bengal"?"selected":""%>
                  value="West Bengal">West Bengal</option>
                </select>
              </div>
              <div class="form-group">
                <label for="presentdistrict">Present District</label>
                <input readonly
                  type="text"
                  class="form-control"
                  id="presentdistrict"
                  name="presentdistrict"
                  value="Gandhinagar"
                  required
                  value="<%=stuDetails.presentdistrict%>"
                  placeholder="Present District"
                />
              </div>
              <div class="form-group">
                <label for="Landmark">Landmark</label>
                <input readonly
                  type="text"
                  class="form-control"
                  id="Landmark"
                  name="landmark"
                  required
                  value="<%=stuDetails.landmark%>"
                  placeholder="Landmark"
                />
              </div>

              <div class="form-group">
                <label for="presentaddress">Present Address</label>
                <textarea
                  type="text"
                  value="hehe"
                  class="form-control"
                  id="presentaddress"
                  required
                  disabled

                  name="presentaddress"
                  placeholder="Present Address"
                ><%=stuDetails.presentaddress%></textarea
                >
              </div>

              <div class="form-group">
                <label for="Pincode">Pincode/Zipcode</label>
                <input readonly
                  type="number"
                  class="form-control"
                  value="<%=stuDetails.pincode%>"
                  id="Pincode"
                  required
                  name="pincode"

                  placeholder="Pincode"
                />
              </div>
            </div>



            <div class="input-fields">
              <div class="form-group">
                <label for="presentcountryp">Permanent Country</label>
                <input readonly
                  type="text"
                  class="form-control"
                  required
                  name="permanentCountry"
                  value="France"
                  id="presentcountryp"
                  placeholder="Permanent Country"
                />
              </div>
              <div class="form-group">
                <label for="presentstatep">Permanent State</label>
                <input readonly
                  type="text"
                  class="form-control"
                  required
                  id="presentstatep"
                  value="Brittany"
                  name="permanentState"
                  placeholder="Permanent State"
                />
              </div>
              <div class="form-group">
                <label for="presentdistrictp">Permanent District</label>
                <input readonly
                  type="text"
                  class="form-control"
                  id="presentdistrictp"
                  value="Cest la ville "
                  name="permanentDistrict"
                  required
                  placeholder="Permanent District"
                />
              </div>
              <div class="form-group">
                <label for="Landmarkp">Landmark</label>
                <input readonly
                  type="text"
                  class="form-control"
                  name="permanentLandmark"
                  id="Landmarkp"
                  value="Le Parc Petit"
                  placeholder="Landmark"
                  required
                />
              </div>

              <div class="form-group">
                <label for="presentaddressp">Permanent Address</label>
                <textarea
                  type="text"
                  disabled
                  class="form-control"
                  required
                  name="permanentAddress"
                  id="presentaddressp"
                  placeholder="Permanent Address"
                >
Dans ma Voiture, 112, Cest la Ville, Brittany</textarea
                >
              </div>

              <div class="form-group">
                <label for="Pincodep">Pincode/Zipcode</label>
                <input readonly
                  type="number"
                  class="form-control"
                  id="Pincodep"
                  name="permanentPincode"
                  value="120021"
                  placeholder="Pincode"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" regis-content-div" id="procedure">
        <div class="content-title container">
          <hr style="margin: 0;" />
          <br />
          <h2>Education Details</h2>
          <br />
           <div class="comm-fields">
                        <div class="input-fields" style="overflow-x: scroll">
                          <table
                            class="table table-striped"
                            style="border-radius: 1rem; overflow: hidden"
                          >
                            <thead>
                              <tr>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Course
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Board/University
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Institute Name
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Year of Joining
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Year of Passing
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  % marks /CGPA
                                </th>
                                <th
                                  style="
                                    background-color: #163269;
                                    color: white;
                                  "
                                >
                                  Uploaded Marksheet
                                </th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <td>Class X</td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="tenthboard"
                                    readonly=""
                                    placeholder="Percentage"
                 value="<%=stuDetails.tenthboard%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="tenthintitutename"
                                    placeholder="Intitute Name"
                                    required=""
                  value="<%=stuDetails.tenthintitutename%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    readonly=""
                                    name="tenthyearofjoining"
                                    placeholder="Year Of Joining"
                                    required=""
                  value="<%=stuDetails.tenthyearofjoining%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    value="3"
                                    name="tenthyearofpassing"
                                    placeholder="Year Of Passing"
                                    required=""
                  value="<%=stuDetails.tenthyearofpassing%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    required=""
                                    id="10th"
                                    name="tenth"
                                    placeholder="Percentage"
                  value="<%=stuDetails.tenth%>"

                                  />
                                </td>
                                <td>

               <a href="<%=stuDetails.tenthMarksheetUrl%>"><button style="margin: 0;height: fit-content;" class="btn   btn-dark form-control">Show File</button></a>

                                </td>
                              </tr>
                              <tr>
                                <td>Class XII/Diploma</td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="twelthBoard"
                                    value="a"
                                    placeholder="Board / University"
                  value="<%=stuDetails.twelthBoard%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="twelthintitutename"
                                    placeholder="Institute Name"
                  value="<%=stuDetails.twelthintitutename%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="twelthyrofjoining"
                                    placeholder="Year Of Joining"
                  value="<%=stuDetails.twelthyrofjoining%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="twelthyearofpassing"
                                    placeholder="Year Of Passing"
                  value="<%=stuDetails.twelthyearofpassing%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="12th"
                                    name="twelth"
                                    required=""
                                    placeholder="Percentage"

                  value="<%=stuDetails.twelth%>"

                                  />
                                </td>
                                <td>
                                  <a href="<%=stuDetails.twelthMarksheetUrl%>"><button style="margin: 0;height: fit-content;" class="btn btn-dark form-control">Show File</button></a>
                                </td>
                              </tr>
                              <tr>
                                <td>Graduation</td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="graduationuniversity"
                  value="<%=stuDetails.graduationuniversity%>"

                                    placeholder="University"
                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="graduationintitutename"
                                    placeholder="Institute Name"
                  value="<%=stuDetails.graduationintitutename%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="graduationyrofjoining"
                                    placeholder="Year Of Joining"
                  value="<%=stuDetails.graduationyrofjoining%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="graduationyearofpassing"
                                    placeholder="Year Of Passing"
                  value="<%=stuDetails.graduationyearofpassing%>"

                                  />

                                </td>
                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="graduation"
                                    name="graduation"
                                    placeholder="Graduation Percentage"
                  value="<%=stuDetails.graduation%>"

                                  />
                                </td>
                                <td>
                                  <a href="<%=stuDetails.graduationmarksheetUrl%>"><button style="margin: 0;height: fit-content;" class="btn btn-dark form-control" disabled>Show File</button></a>
                                </td>
                              </tr>
                              <tr>
                                <td>Post Graduation</td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="postgraduationuniversity"

                                    placeholder="Board/University"
                  value="<%=stuDetails.postgraduationuniversity%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="postgraduationintitutename"
                                    placeholder="Institute Name"
                  value="<%=stuDetails.postgraduationintitutename%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="postgraduationyrofjoining"
                                    placeholder="Year Of Joining"
                  value="<%=stuDetails.postgraduationyrofjoining%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="postgraduationyearofpassing"
                                    placeholder="Year Of Passing"
                  value="<%=stuDetails.postgraduationyearofpassing%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    id="postgraduation"
                                    name="postgraduation"
                                    placeholder="Percentage"
                  value="<%=stuDetails.postgraduation%>"

                                  />
                                </td>
                                <td>
                                   <a href="<%=stuDetails.postgraduationmarksheetUrl%>"><button style="margin: 0;height: fit-content;" class="btn btn-dark form-control" disabled>Show File</button></a>
                                </td>
                              </tr>
                              <tr>
                                <td>Other Certificates</td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="otheruniversity"
                                    value="a"
                                    placeholder="University"
                  value="<%=stuDetails.otheruniversity%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="text"
                                    class="form-control"
                                    name="otherintitutename"
                                    placeholder="Institute Name"
                  value="<%=stuDetails.otherintitutename%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="otheryrofjoining"
                                    placeholder="Year Of Joining"
                  value="<%=stuDetails.otheryrofjoining%>"

                                  />
                                </td>

                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="otheryearofpassing"
                                    placeholder="Year Of Passing"
                  value="<%=stuDetails.otheryearofpassing%>"

                                  />
                                </td>
                                <td>
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="othermarks"
                  value="<%=stuDetails.othermarks%>"

                                  />
                                </td>
                                <td>
                                  <a href="<%=stuDetails.othermarksheetUrl%>"><button style="margin: 0;height: fit-content;" class="btn btn-dark form-control" disabled>Show File</button></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                           <div class="form-group">
                <label for="lastsemcgpa">Last Sem CGPA</label>
                <input readonly
                  type="number"
                  class="form-control"
                  id="lastsemcgpa"
                  name="lastsemcgpa"
                  placeholder="CGPA"
                  value="<%=stuDetails.lastsemcgpa%>"
                />
              </div>
<div style="display: flex;flex-direction: column;">
   Profile Picture
              <img
               src="<%=stuDetails.profilePictureUrl%>" width="100" height="100" alt="">
</div>
              </div>


                      </div>

        </div>
      </div>
      <div class="regis-content-div" id="procedure">
        <div class="content-title container">
          <hr style="margin: 0;"/>
          <br />
          <h2>Declaration</h2>
          <br />
          1. I hereby declare that all information provided in this registration
          form is true and accurate to the best of my knowledge, and I
          understand that any false information may result in the cancellation
          of my registration for the placement session 2024-25.
          <br />
          2. I have read, understood, and agree to abide by all the rules,
          policies, and guidelines set forth by the Placement Cell and
          participating companies for the duration of the placement session
          2024-25. <br />
          3. Furthermore, I authorize the Placement Cell to share my academic
          and personal information with potential employers for the purpose of
          recruitment during the placement session 2024-25. I acknowledge that
          the Placement Cell and participating companies have the right to
          conduct background checks, including but not limited to academic
          records and employment history, to verify the information provided in
          this registration form. <br />
          4. I understand that failure to comply with the rules and policies of
          the placement session may result in disciplinary action, including but
          not limited to disqualification from further participation in
          placement activities. <br />
          5. I acknowledge that the Placement Cell reserves the right to modify
          or update the rules and policies of the placement session, and it is
          my responsibility to stay informed about any changes communicated by
          the Placement Cell.

          <br /><br />

          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript for form validation
  (function () {
    "use strict";
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>

<script>
  function copyPresentAddress() {
    var presentcountry = document.getElementById("presentcountry").value;
    var presentstate = document.getElementById("presentstate").value;
    var presentdistrict = document.getElementById("presentdistrict").value;
    var Landmark = document.getElementById("Landmark").value;
    var presentaddress = document.getElementById("presentaddress").value;
    var Pincode = document.getElementById("Pincode").value;
    document.getElementById("presentcountryp").value = presentcountry;
    document.getElementById("presentstatep").value = presentstate;
    document.getElementById("presentdistrictp").value = presentdistrict;
    document.getElementById("Landmarkp").value = Landmark;
    document.getElementById("presentaddressp").value = presentaddress;
    document.getElementById("Pincodep").value = Pincode;
  }
  document.getElementById("addcheck").addEventListener("change", function () {
    if (this.checked) {
      copyPresentAddress();
    } else {
      document.getElementById("presentcountryp").value = "";
      document.getElementById("presentstatep").value = "";
      document.getElementById("presentdistrictp").value = "";
      document.getElementById("Landmarkp").value = "";
      document.getElementById("presentaddressp").value = "";
      document.getElementById("Pincodep").value = "";
    }
  });
</script>
