<%layout("./layouts/boilerplate")%>

<div class="adminbigdiv">
  <div class="leftadmin">
    <div class="whiteboxleftadmin">
      <div class="admindashimgdiv">
        <a
          href="/"
          style="
            width: 100%;
            display: flex;
            text-decoration: none;
            color: black;
          "
        >
          <img
            src="https://res.cloudinary.com/ddxv0iwcs/image/upload/v1713022989/nfsu1_w88qok.png"
            width="50"
            alt=""
          />
          <h5>
            Placement Cell <br />
            SCSDF
          </h5>
        </a>
      </div>
      <div class="sectionslinksadmin">
        <ul style="list-style-type: none">
          <a class="pop-out" href="#Dashboard"
            ><li class="selected">Dashboard</li></a
          >
          <a class="pop-out" href="#Students"><li>Students</li></a>
          <a class="pop-out" href="#Companies"><li>Companies</li></a>
          <a class="pop-out" href="#Application"><li>Application</li></a>
          <a class="pop-out" href="#Queries"><li>Queries</li></a>
          <a class="pop-out" href="#Updates"><li>Updates</li></a>
          <a class="pop-out" href="#"><li class="signoutli">Sign Out</li></a>
        </ul>
      </div>
    </div>
  </div>
  <div class="rightadmin">
    <%-include("./adminfiles/dashboard.ejs")%>
    <%-include("./adminfiles/student.ejs")%>
    <%-include("./adminfiles/company.ejs")%>
    <%-include("./adminfiles/application.ejs")%>
    <%-include("./adminfiles/update.ejs")%>
    <%-include("./adminfiles/query.ejs")%>
  </div>
</div>

<!--sections enabler  -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var links = document
      .querySelector(".sectionslinksadmin")
      .querySelectorAll('a[href^="#"]');

    links.forEach(function (link) {
      link.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of following the link

        var targetId = this.getAttribute("href").substring(1); // Get the target section id

        // Hide all sections
        var sections = document.querySelectorAll(".sectiondiv");
        sections.forEach(function (section) {
          section.style.display = "none";
        });

        // Display the target section
        var targetSection = document.getElementById(targetId);
        if (targetSection) {
          targetSection.style.display = "block";
        }

        links.forEach(function (link) {
          link.querySelector("li").classList.remove("selected");
        });
        this.querySelector("li").classList.add("selected");
      });
    });
  });
</script>
<!-- chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var labels = [
    "Registered Companies",
    "Pending Company Verifications",
    "Registered Students",
    "Pending Student Verifications",
    "No. of Applications Received",
  ];
  var counts = [
    <%=countAllRegisteredRecruiters%>,
   <%=countAllRecruitersPending%>,
   <%= countallRegisteredStudents%>,
   <%= countallStudentsPending%>,
   <%= countallApplications%>,
  ]; // Corresponding counts for each label
  var ctx = document.getElementById("pieChart").getContext("2d");
  var myPieChart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: labels,
      datasets: [
        {
          data: counts,
          backgroundColor: [
            "rgba(255, 99, 132, 01)", // Example color
            "rgba(255, 206, 86, 01)", // Example color
            "rgba(255, 106, 116, 01)", // Example color
            "rgba(255, 106, 16, 01)", // Example color
            "rgba(54, 162, 235, 01)", // Example color
        ],
        },
      ],
    },
    options: {
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data) {
            var label = data.labels[tooltipItem.index];
            var count = data.datasets[0].data[tooltipItem.index];
            return label + ": " + count;
          },
        },
      },
    },
  });
</script>
<!-- sign out -->
<script>
  let signoutli = document.querySelector(".signoutli");
  signoutli.addEventListener("click", () => {
    if (window.confirm("Are you sure want to Sign Out?")) {
      let signOutForm = document.createElement("form");
      signOutForm.action = "/auth/logout";
      document.querySelector("body").appendChild(signOutForm);
      signOutForm.submit();
    } else {
      window.location.reload();
    }
  });
</script>
