<%layout("./layouts/boilerplate")%> <%if(isDeboarded){%>
<h1>
  Your Account has been Disabled by the Admin. Please Contact the Administration
  for further Information.
</h1>
<%}else if(isRegistered){%>
<div class="studentDashboard">
  <div style="padding: 2rem">
    <%if(isPlaced){%>
    <h5>
      Congratulations on <%=stuDetails.placedJobType%> in
      <%=stuDetails.placedCompany%> &hearts;
    </h5>
    <%}%>
  </div>
  <div class="studentHeadBanner">
    <a style="text-decoration: none; color: white" href="/account">
      <h5 class="pop-out">Dashboard</h5></a
    >

    <button class="pop-out list-inline-item btn btn-info adminupdates">
      Admin Updates
    </button>
  </div>

  <div class="adminupdatesDiv" style="display: none">
    <h2>Admin Updates</h2>
    <%updatesToShow.forEach((update)=>{%>
    <br />
    <div class="updateDiv">
      <h3># <%=update.title%></h3>
      <h5><%=update.description%></h5>
      <h6><%=update.createdAt%></h6>
    </div>
    <br />
    <%});%>
  </div>

  <div class="studentInfoCards pop-out">
    <div class="infoCard"></div>
    <div class="card">
      <div class="infocardtext">
        <h5>Total Companies Listed</h5>
        <hr />
        <h4><%=countAvailableListings%></h4>
      </div>
    </div>

    <div class="infoCard"></div>
    <div class="card">
      <div class="infocardtext">
        <h5>Total Applied Companies</h5>
        <hr />
        <h4><%=countAppliedListings%></h4>
      </div>
    </div>
    <div class="infoCard"></div>
  </div>

  <div class="studentAvailableListings">
    <h5>Available Companies List</h5>
    <br />
    <table class="table table-hover table-borderless studenttable1">
      <thead>
        <tr>
          <th scope="col" class="pop-out">#</th>
          <th scope="col" class="pop-out">Company Name</th>
          <th scope="col" class="pop-out">Job Title</th>
          <th scope="col" class="pop-out">Job Location</th>
          <th scope="col" class="pop-out">Job Type</th>
          <th scope="col" class="pop-out">Job Description</th>
          <th scope="col" class="pop-out">CTC/Stipend</th>
          <th scope="col" class="pop-out">Last Date To Apply</th>
          <th scope="col" class="pop-out">Application Status</th>
        </tr>
      </thead>
      <tbody>
        <% availableListings.forEach((listing,index) => { %>
        <tr class="pop-out">
          <%if(listing.isDreamOffer == true){%>
          <td scope="row">
            <p
              style="color: gold; font-weight: 600; text-shadow: gold 0 0 10px"
            >
              Dream Offer
            </p>
          </td>
          <%}else{%>
          <td scope="row"><%=index +1%></td>
          <%}%>
          <td scope="row"><%=listing.companyName%></td>
          <td scope="row"><%=listing.jobTitle%></td>
          <td scope="row"><%=listing.jobLocation%></td>
          <td scope="row"><%=listing.jobType%></td>
          <td scope="row" class="buttonTd">
            <a
              href="<%=listing.jobDescriptionFile%>"
              class="btn btn-dark"
              target="_blank"
            >
              Show file
            </a>
          </td>

          <td scope="row"><%=listing.ctc%>/-</td>
          <td scope="row"><%=listing.lastDateToApply%></td>
          <td scope="row" class="buttonTd">
            <a
              href="/account/apply?listingId=<%=listing._id%>&stuId=<%=stuId%>"
              class="btn btn-info"
              >Apply</a
            >
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <div class="studentAvailableListings studentAppliedListings">
    <h5>Applied Companies List</h5>
    <br />
    <table class="table table-hover table-borderless studenttable1">
      <thead>
        <tr>
          <th scope="col" class="pop-out">#</th>
          <th scope="col" class="pop-out">Company Name</th>
          <th scope="col" class="pop-out">Job Title</th>
          <th scope="col" class="pop-out">Job Location</th>
          <th scope="col" class="pop-out">Job Type</th>
          <th scope="col" class="pop-out">Job Description</th>
          <th scope="col" class="pop-out">CTC/Stipend</th>
          <th scope="col" class="pop-out">Application Status</th>
        </tr>
      </thead>
      <tbody>
        <% appliedListings.forEach((listing,index) => { %>
        <tr class="pop-out">
          <%if(listing.isDreamOffer == true){%>
          <td scope="row">
            <p
              style="color: gold; font-weight: 600; text-shadow: gold 0 0 10px"
            >
              Dream Offer
            </p>
          </td>
          <%}else{%>
          <td scope="row"><%=index +1%></td>
          <%}%>

          <td scope="row"><%=listing.companyName%></td>
          <td scope="row"><%=listing.jobTitle%></td>
          <td scope="row"><%=listing.jobLocation%></td>
          <td scope="row"><%=listing.jobType%></td>
          <td scope="row" class="buttonTd">
            <a
              href="<%=listing.jobDescriptionFile%>"
              class="btn btn-dark"
              target="_blank"
            >
              Show file
            </a>
          </td>
          <td scope="row"><%=listing.ctc%>/-</td>
          <td scope="row">
            <% studentApplications.forEach((application)=>{
            if(application.listingId.toString() == listing._id.toString()){%>
            <button class="btn btn-outline-warning">
              <%=application.applicationStatus%>
            </button>
            <%}})%>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <footer>
    <div>
      <h6>&copy; Placement Cell</h6>
      <h6>SCSDF, NFSU</h6>
    </div>
  </footer>
</div>
<script>
  let adminupdateBtn = document.querySelector(".adminupdates");

  let admindiv = document.querySelector(".adminupdatesDiv");
  adminupdateBtn.addEventListener("click", () => {
    if (admindiv.style.display == "none") {
      admindiv.style.display = "block";
      var elements = document.querySelectorAll(".studentAvailableListings");
      elements.forEach(function (element) {
        element.style.display = "none";
      });
      document.querySelector(".studentInfoCards").style.display = "none";
    } else {
      admindiv.style.display = "none";
      var elements = document.querySelectorAll(".studentAvailableListings");
      elements.forEach(function (element) {
        element.style.display = "flex";
      });
      document.querySelector(".studentInfoCards").style.display = "flex";
    }
  });
</script>
<%}else{%>

<div class="registerFirstHereDiv">
  <h3>You won't be able to access the dashboard as of now.</h3>
  <br />
  <a href="/register/stu">
    <button class="btn-primary btn">
      Please Register Here First to Access Your Dashboard
    </button>
  </a>
</div>

<%}%>
