<div id="Application" class="sectiondiv">
  <div class="applicationtable dash-table-format">
    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        id="tableSelectorbtnapplication"
      >
        Applications Received
      </button>
      <ul class="dropdown-menu">
        <li>
          <input
            type="radio"
            class="form-check tableRadioApplication"
            data-name="Application Received"
            name="tableRadioApplication"
            checked
            value="Application Received"
            style="display: inline"
            id="radioregisapplication"
          />
          <label for="radioregiapplication"> Applications Received</label>
        </li>
        <li>
          <input
            type="radio"
            class="form-check tableRadioApplication"
            name="tableRadioApplication"
            value="Placed Students"
            style="display: inline"
            id="radioverifypendapplic"
          />
          <label for="radioverifypendapplic"> Placed Students</label>
        </li>
      </ul>
    </div>

    <div class="dropdown dropdown-options-application">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Options to Show
      </button>

      <ul class="dropdown-menu" id="dropdown" style="place-items: centre"></ul>
    </div>
    <div class="dropdown dropdown-listingname-toshow">
      <button
        class="btn btn-light dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Companies to Show
      </button>

      <ul
        data-name="Companies to Show"
        class="dropdown-menu dropdownToShowCompanies"
        id="dropdown"
        style="place-items: centre"
      >
        <li
          class="dropdown-item"
          data-companyName="All"
          style="cursor: pointer"
        >
          All
        </li>
        <%allListedRecruiters.forEach((recruiter,index)=>{%>
        <li
          class="dropdown-item"
          style="cursor: pointer"
          data-companyName="<%=recruiter.companyName%>"
        >
          <%=(index+1) %>. <%=recruiter.companyName %>
        </li>
        <% })%>
      </ul>
    </div>
    <button
      class="btn btn-success"
      id="updateselectedapplications"
      style="display: none; margin-bottom: 1rem; margin-left: 0.5rem"
    >
      Update all Status
    </button>

    <div>
      <button
        class="btn btn-warning templateStatusChange"
        data-templatestatus="Shortlisted"
        style="display: none; margin-bottom: 1rem; margin-left: 0.5rem"
      >
        Status: Shortlisted
      </button>

      <button
        class="btn btn-warning templateStatusChange"
        data-templatestatus="Not-shortlisted"
        style="display: none; margin-bottom: 1rem; margin-left: 0.5rem"
      >
        Status: Not-shortlisted
      </button>
    </div>
    <div class="tablesapplication">
      <table
        class="table table-hover table-bordered"
        data-name="Application Received"
      >
        <thead>
          <tr class="headerrowApplicationReceived">
            <th scope="col">
              <input
                type="checkbox"
                class="form-check-input"
                name="selectall"
                id="selectallApplicationstable"
              />
            </th>
            <th scope="col">Student Name</th>
            <th scope="col">Course</th>
            <th scope="col">Company Name</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Date Applied</th>
            <th scope="col">Action</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody id="applicationsBody">
          <% allApplications.forEach(function(appObj, index) { %>
          <tr class="dataTableApplicationReceived">
            <td>
              <input
                type="checkbox"
                class="form-check-input allApplicationsCheck"
                data-applicationid="<%=appObj._id%>"
              />
            </td>
            <td>
              <a
                href="/account/sturegisdetails/?stuId=<%=appObj.stuId._id%>"
                target="_blank"
                style="text-decoration: none; color: maroon"
              >
                <%=appObj.stuId.fullname%></a
              >
            </td>
            <td><%=appObj.stuId.course%></td>
            <td>
              <a
                href="/admin/listingDetails/<%=appObj.listingId._id%>"
                target="_blank"
                style="text-decoration: none; color: maroon"
                ><%=appObj.listingId.companyName%></a
              >
            </td>
            <td><%=appObj.stuId.mobileno%></td>
            <td>
              <%=appObj.createdAt.toLocaleString('en-US', { timeZone: 'IST' })%>
            </td>
            <td>
              <a
                href="/admin/placedstudent/<%=appObj._id%>?currentAdminSection=Application"
                ><button class="btn btn-primary">Mark as Placed</button></a
              >
            </td>
            <form
              action="/admin/updateApplicationStatus/<%=appObj._id%>?currentAdminSection=Application"
              method="post"
            >
              <td>
                <textarea name="applicationStatus" class="form-control">
<%=appObj.applicationStatus%></textarea
                >
                <br />
                <button class="btn btn-success">Update Status</button>
              </td>
            </form>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <table
        class="table table-hover table-bordered"
        data-name="Placed Students"
        style="display: none"
      >
        <thead>
          <tr class="headerrowPlacedStudents">
            <th scope="col">#</th>
            <th scope="col">Student Name</th>
            <th scope="col">Course</th>
            <th scope="col">Company name</th>
            <th scope="col">Email</th>
            <th scope="col">Date Placed</th>
          </tr>
        </thead>
        <tbody>
          <% allplacedStudents.forEach((student,index) => { %>
          <tr class="dataTablePlacedStudents">
            <td><%=index +1%></td>
            <td>
              <a
                href="/account/sturegisdetails/?stuId=<%=student._id%>"
                target="_blank"
                style="text-decoration: none; color: maroon"
              >
                <%=student.fullname%></a
              >
            </td>
            <td><%=student.course%></td>
            <td><%=student.placedCompany%></td>
            <td><%=student.email%></td>
            <td>
              <%=student.placedDate.toLocaleString('en-US', { timeZone: 'IST'
              })%>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- multiple select update applications -->
<script>
  document
    .getElementById("updateselectedapplications")
    .addEventListener("click", () => {
      const selectedRows = [];
      document.querySelectorAll(".allApplicationsCheck").forEach((checkbox) => {
        if (checkbox.checked) {
          const row = checkbox.closest("tr");
          const inputField = row.querySelector("textarea");

          const inputValue = inputField.value;

          const rowData = {
            applicationId: checkbox.getAttribute("data-applicationid"),
            updatedStatus: inputValue,
          };
          selectedRows.push(rowData);
        }
      });

      // Send the selectedRows array to your route handler
      // You can use AJAX (e.g., fetch) to send the data to your backend
      // Example:
      const form = document.createElement("form");
      form.method = "POST";
      form.action =
        "/admin/arrayUpdateApplicationStatus/1334?currentAdminSection=<%=currentAdminSection%>"; // Specify your route here

      // Create hidden input fields for each selected row
      selectedRows.forEach((rowData, index) => {
        // Create an input element for checkbox value
        const checkboxInput = document.createElement("input");
        checkboxInput.type = "hidden";
        checkboxInput.name = `selectedRows[${index}][applicationId]`; // Adjust name based on your backend expectation
        checkboxInput.value = rowData.applicationId;
        form.appendChild(checkboxInput);

        // Create an input element for input field value
        const inputFieldInput = document.createElement("input");
        inputFieldInput.type = "hidden";
        inputFieldInput.name = `selectedRows[${index}][updatedStatus]`; // Adjust name based on your backend expectation
        inputFieldInput.value = rowData.updatedStatus;
        form.appendChild(inputFieldInput);
      });

      // Append the form to the body and submit it
      document.body.appendChild(form);
      form.submit();
    });

  // Add event listener to your "Select All" checkbox
  document
    .getElementById("selectallApplicationstable")
    .addEventListener("click", () => {
      const selectAllCheckbox = document.getElementById(
        "selectallApplicationstable"
      );

      document.getElementById("updateselectedapplications").style.display =
        selectAllCheckbox.checked ? "inline" : "none";
      document.querySelectorAll(".templateStatusChange").forEach((btn) => {
        btn.style.display = selectAllCheckbox.checked ? "inline" : "none";
      });

      const checkboxes = document.querySelectorAll(".allApplicationsCheck");

      checkboxes.forEach((checkbox) => {
        checkbox.checked = selectAllCheckbox.checked;
      });
    });

  document.querySelectorAll(".allApplicationsCheck").forEach((checkbox) => {
    checkbox.addEventListener("click", () => {
      const anyChecked = Array.from(
        document.querySelectorAll(".allApplicationsCheck")
      ).some((checkbox) => checkbox.checked);
      // If any checkbox is checked, show the button; otherwise, hide it
      document.getElementById("updateselectedapplications").style.display =
        anyChecked ? "inline" : "none";
      document.querySelectorAll(".templateStatusChange").forEach((btn) => {
        btn.style.display = anyChecked ? "inline" : "none";
      });
    });
  });

  document.querySelectorAll(".templateStatusChange").forEach((btn) => {
    btn.addEventListener("click", () => {
      const checkboxes = document.querySelectorAll(".allApplicationsCheck");
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          checkbox.closest("tr").querySelector("textarea").innerHTML =
            btn.getAttribute("data-templatestatus");
        }
      });
    });
  });
</script>
<!-- for applications -->
<!-- table script -->
<script>
  let monitorAllApplicationsReceived = () => {
    let allOptions = document
      .querySelectorAll(".checkApplicationReceived")
      .forEach(function (checkbox) {
        checkbox.addEventListener("change", function (event) {
          event.preventDefault();
          toggleColumn1application(checkbox);
        });
      });
  };

  let monitorAllPlacedStudents = () => {
    let allOptions2 = document
      .querySelectorAll(".checkPlacedStudents")
      .forEach(function (checkbox) {
        checkbox.addEventListener("change", function (event) {
          event.preventDefault();
          toggleColumn2application(checkbox);
        });
      });
  };

  function toggleTableApplications(radio) {
    let ApplicationCategoryName = radio.value;
    document.querySelector("#tableSelectorbtnapplication").innerHTML =
      ApplicationCategoryName;
    let allUls = document.querySelectorAll(".dropdown-options-application ul");
    allUls.forEach((ul) => {
      if ("Application Received" == ApplicationCategoryName) {
        ul.innerHTML = `<li class="dropdown-item">

           <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkApplicationReceived"
                name="Student Name"
                value="Student Name"
                checked
                style="display: inline"
              />
              <p style="margin:auto auto;"> Student Name </p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkApplicationReceived"
                name="Course"
                value="Course"
                checked
                style="display: inline"
              />
            <p style="margin:auto auto;">    Course</p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkApplicationReceived"
                name="Company Name"
                value="Company Name"
                checked
                style="display: inline"
              />
          <p style="margin:auto auto;">      Company Name</p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkApplicationReceived"
                name="Mobile No."
                checked
                value="Mobile No."
                style="display: inline"
              />
          <p style="margin:auto auto;">     Mobile No. </p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkApplicationReceived"
                name="Date Applied"
                checked
                value="Date Applied"
                style="display: inline"
              />
      <p style="margin:auto auto;">         Date Applied </p>
              </label>
            </li>
           `;
        monitorAllApplicationsReceived();
      } else if (ApplicationCategoryName == "Placed Students") {
        ul.innerHTML = `<li class="dropdown-item">
           <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkPlacedStudents"
                name="Student Name"
                value="Student Name"
                checked
                style="display: inline"
              />
            <p style="margin:auto auto;">    Student Name</p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkPlacedStudents"
                name="Course"
                value="Course"
                checked
                style="display: inline"
              />
               <p style="margin:auto auto;"> Course</p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkPlacedStudents"
                name="Company name"
                value="Company name"
                checked
                style="display: inline"
              />
          <p style="margin:auto auto;">     Company name </p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkPlacedStudents"
                name="Email"
                checked
                value="Email"
                style="display: inline"
              />
               <p style="margin:auto auto;"> Email</p>
              </label>
            </li>
            <li class="dropdown-item">
               <label style="display:flex;align-items:centre;">
              <input
                type="checkbox"
                class="form-check checkPlacedStudents"
                name="Date Placed"
                checked
                value="Date Placed"
                style="display: inline"
              />
          <p style="margin:auto auto;">      Date Placed</p>
              </label>
            </li>
           `;
        monitorAllPlacedStudents();
      }
    });

    let allTables = document.querySelectorAll(".tablesapplication table");
    allTables.forEach((table) => {
      if (table.getAttribute("data-name") == ApplicationCategoryName) {
        table.style.display = "table";
      } else {
        table.style.display = "none";
      }
    });
  }

  document.querySelectorAll(".tableRadioApplication").forEach(function (radio) {
    radio.addEventListener("change", function (event) {
      toggleTableApplications(radio);
    });
  });

  toggleTableApplications(
    document.querySelector(".dropdown input[data-name='Application Received']")
  );
</script>
<!-- column script -->
<script>
  function toggleColumn1application(checkbox) {
    let columnIndex = checkbox.value;

    let headerRow = document.querySelectorAll(
      ".headerrowApplicationReceived th"
    );

    // Find the index of the column to toggle
    let index = Array.from(headerRow).findIndex(
      (th) => th.textContent.trim() === columnIndex
    );

    // Hide/show the th element
    headerRow[index].style.display = checkbox.checked ? "table-cell" : "none";

    // Hide/show the corresponding td elements in the table body
    let tableRows = document.querySelectorAll(".dataTableApplicationReceived");
    tableRows.forEach((row) => {
      let td = row.querySelectorAll("td")[index];
      if (td) {
        td.style.display = checkbox.checked ? "table-cell" : "none";
      }
    });
  }
</script>
<script>
  function toggleColumn2application(checkbox) {
    let columnIndex = checkbox.value;
    let headerRow = document.querySelectorAll(".headerrowPlacedStudents th");

    // Find the index of the column to toggle
    let index = Array.from(headerRow).findIndex(
      (th) => th.textContent.trim() === columnIndex
    );

    // Hide/show the th element
    headerRow[index].style.display = checkbox.checked ? "table-cell" : "none";

    // Hide/show the corresponding td elements in the table body
    let tableRows = document.querySelectorAll(".dataTablePlacedStudents");
    tableRows.forEach((row) => {
      let td = row.querySelectorAll("td")[index];
      if (td) {
        td.style.display = checkbox.checked ? "table-cell" : "none";
      }
    });
  }
</script>
